# Move
**/build/*
.trace
.coverage_map.mvcov


# MacOS
.DS_Store

# Python
__pycache__/
*.ipynb

# Rust
**/target

# Project specific
keys/
proofs/
*_bsv_wallet.json
info.json
/evm/*.json
/evm/*.txt

# Hardhat files
/evm/cache
/evm/artifacts
/evm/node_modules
/evm/hardhat.config.js
